.u-center-text {
  text-align: center;
}
.u-mg-bottom-small {
  margin-bottom: 1.5rem;
}
.u-mg-bottom-medium {
  margin-bottom: 4rem;
}
.u-mg-bottom-big {
  margin-bottom: 8rem;
}
.u-mg-top-big {
  margin-top: 8rem;
}
.u-mg-top-huge {
  margin-top: 8rem;
}
