.u-center-text {
  text-align: center !important;
}
.u-mg-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-mg-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-mg-bottom-big {
  margin-bottom: 8rem !important;
}
.u-mg-top-small {
  margin-top: 2rem !important;
}
.u-mg-top-big {
  margin-top: 8rem !important;
}
.u-mg-top-huge {
  margin-top: 10rem !important;
}
